{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
</head>
<body>

<div class="flex-container">
    <div>
      <h1 id="num">{{ new_object }}</h1>
      <button id="btn" type="submit">add</button>
    </div>
</div>

<script>
  // show number
  $(document).ready(function () {
    $.ajax({
      url: "{% url 'add' id=1 %}",  
      success: function(data) {
        $('#num').text(data.new_object);
      }
    });
  });

  // update number
  $(document).ready(function() {
    $('#btn').click(function() {
      $.ajax({
        url : "{% url 'add' id=1 %}",
        success : function(response) {
          console.log(response.new_object)
          $('#num').text(response.new_object)
        }
      });
    });
  });
  
  // change color button
  clicked = true;
  $('#btn').on('click', function(){
    if(clicked){
      $(this).css('background-color', '#00d1cd');
      clicked  = false;
      console.log(clicked)
    } else {
      $(this).css('background-color', '#f30067');
      clicked  = true;
      console.log(clicked)
    }   
  });

</script>
</body>
</html>
